[Unit]
Description=sysy-rpi
After=network.target

[Service]
User=pi
WorkingDirectory=/opt/sysy-rpi/
Environment=VIRTUAL_ENV=/opt/sysy-rpi/.venv/
ExecStart=/opt/sysy-rpi/.venv/bin/uwsgi --http-timeout 65536 --harakiri 65536 --master -p 4 --http 0.0.0.0:9000 -w app:app
ExecStop=/bin/kill -2 $MAINPID

[Install]
WantedBy=multi-user.target
